<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".presentation.speechmatchpage.SpeechMatchActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.threadoperation.ThreadOperationActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.sliderpage.SliderActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.videopage.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MyEcommerce.Fullscreen" />
        <activity
            android:name=".presentation.DynamicViewActivity"
            android:exported="false" />
    </application>

</manifest>